name: Analyse Dynamique avec OWASP ZAP

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan ZAP Baseline

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Start Flask Application
        run: |
          python app.py > /dev/null 2>&1 &
          sleep 10

      - name: Run ZAP Baseline Scan
        run: |
          docker run --rm -t \
            -v $(pwd):/zap/wrk:rw \
            -p 5000:5000 \
            --add-host=host.docker.internal:host-gateway \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-baseline.py \
            -t http://host.docker.internal:5000 \
            -r rapport_zap.html \
            -I

      - name: Upload ZAP Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-Report
          path: rapport_zap.html
