name: Analyse Dynamique avec OWASP ZAP

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Start Flask Application
        run: |
          python app.py > /dev/null 2>&1 &
          sleep 12

      - name: Verify app is running
        run: curl -I http://127.0.0.1:5000

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: "http://127.0.0.1:5000"
          cmd_options: "-r rapport_zap.html -I"

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-Report
          path: rapport_zap.html
